/* Load ubuntu font */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,latin-ext);

/* Replace user-splash-screen.png with your own splash screen image */
#msls-id-app-loading .msls-app-loading-img {
    background-image: url(Images/user-splash-screen.png);
}

/* Font families for screen and dialog headers.  Font families for content inside a screen 
    or dialog are determined by the theme's global font family setting. */
.msls-header .ui-title {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    font-weight: 200;
}

/**
    TABLE
*/
div.d-table {
    display: table;
    width: 90%;
    margin-bottom: 1rem;
}

div.d-cell {
    display: table-cell;
}

.ui-disabled {
    display: none;
}

.ui-bar-a,
.ui-bar-a input,
.ui-bar-a select,
.ui-bar-a textarea,
.ui-bar-a button,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-a,
.ui-body-a input,
.ui-body-a select,
.ui-body-a textarea,
.ui-body-a button  {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
}

/* Customizable font styles for screen controls */
.msls-font-style-large {
    color: #15548c;
    font-size: 1.5rem;
    font-weight: bold;
}

.msls-font-style-normal {
}

.msls-font-style-small {
}

.msls-large-icon .ui-icon-msls-home {
    width: 6rem;
}

/* Uncomment the following lines if you want to use certain jQuery Mobile listview features such as 
    count bubbles and icons inside LightSwitch lists. jQuery Mobile relies on list items using 
    position:relative for these features.  However, this setting performs poorly on certain mobile 
    devices (webkit based in particular) when there are large numbers of items in the list. */
/*
.msls-ctl-list .ui-listview > .ui-li,
.msls-ctl-list .ui-field-contain.ui-li {
    position: relative;
}
*/

/* Phone media query (portrait and landscape) */
@media 
screen and (max-width: 400px) and (orientation: portrait), 
screen and (max-width: 640px) and (max-height: 400px) and (orientation: landscape) {
}

/* Header */
.msls-header .msls-header-area    {
    box-shadow: 0 0 10px #000;
}

.msls-header .ui-title  {
    font-size: 2rem;
    line-height: 4rem;
    color: #5b5959;
}

/* Content */
.msls-content   {
    padding: 1rem 1rem;
}

.msls-table-header   {
    background: #15548C;
    color: white;
    font-weight: 200 !important;
}

.msls-table-header:hover {
    color: white;
}

.table-stripe thead th, .table-stripe tbody tr:last-child   {
    border-bottom: none;
}

label,
.msls-label label {
    font-size: 1rem;
    font-weight: bold;
    color: #5b5959;
    opacity: 1;
}

/* Tabs */
.msls-screen-tab .ui-btn-text {
    font-size: 1.25rem;
    color: #5b5959;
}

.msls-screen-tab .ui-btn-inner  {
    border: none;
}

.msls-screen-tab .ui-btn    {
    background: white;
    padding: 0.65rem 0.75rem;
    opacity: 1;
}

.msls-screen-tab .ui-btn:hover    {
    background: #ddd;
}

.msls-screen-tab.msls-screen-tab-active .ui-btn {
    background: #f68712;
}

.msls-screen-tab.msls-screen-tab-active .ui-btn .ui-btn-text    {
    color: white;
}

.msls-screen-tab > div {
    margin-right: 0.8rem;
}


/* Footer */
.msls-footer    {
    padding-top: 0.5rem;
}

.ui-bar-a   {
    background: #15548c;
}

.msls-footer .msls-large-icon .ui-icon, .msls-large-icon .ui-icon-searchfield:after  {
    border-color: white;
}

.msls-footer .msls-large-icon.ui-btn {
    color: white;
}

.msls-footer .msls-large-icon .ui-icon,
.msls-footer .msls-large-icon,
.msls-footer .ui-icon-searchfield:after  {
    background-image: url(images/msls-white-icons-36.png)!important
}

.msls-footer .msls-large-icon:hover .ui-icon,
.msls-footer .msls-large-icon:hover,
.msls-footer .ui-icon-searchfield:after  {
    background-image: url(images/msls-blue-icons-36.png)!important
}
 
.metroTile {
    position:absolute;
    width:100%;
    height:6rem; 
    bottom:0px;
}

a.ui-btn:hover .metroTile
{
    height:100%;
}

a.ui-btn:hover .metroTile .background   {
    background-color:rgba( 0,0,0,0.6 );
}

.metroTile .background {
    position:absolute;
    width:100%;
    height:100%;
    z-index:0;
    opacity: 0.2;
}
.metroTile .title {
    position:absolute;
    bottom: 0rem;
    height:6rem;
    color:#FFF;  
    z-index:2; 
    width:100%; 
}
.metroTile .title p {
    position:absolute;
    bottom:0px;  
    left:1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
}
.metroTile .description {    
    left:15px;
    right:15px;
    position:absolute;
    color:#FFF;  
    top:6rem; 
    z-index:2;     
}

a.ui-btn div.text {
    top: 1rem;
    position: relative;
    left: 1rem;
    text-align: left;
    font-size: 4rem;
    color: white;
}

a.ui-btn div.text .tile-place {
    font-size: 1rem;
    margin-bottom: 1rem;
    display: block;
    max-width: 80%;
    margin-top: 5rem;
}

a.ui-btn div.text .tile-money,
a.ui-btn div.text .tile-money-value,
a.ui-btn div.text .tile-days,
a.ui-btn div.text .tile-days-value {
    font-size: 1.25rem;
}

a.ui-btn div.text .tile-money-value,
a.ui-btn div.text .tile-days-value {
    text-align: right;
}
