a {color:#428bca;}
a:hover {color:#15548C}
.bg-primary {background-color: #15548C;}
.bg-secondary {background-color: #e83a56;}
.bg-twitter {background-color: #15548C;}
.color-primary {color: #15548C;}
.border-primary {border-color: #15548C;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #fff;background-color: #15548C;border: 1px solid #509cbc;}
.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:hover, .nav.nav-tabs > li > a:focus {border-color: #509cbc #509cbc #509cbc;background-color: #15548C;}

header ul li.current-menu-item a, header ul li.current-menu-item a:hover {background: #f68712;color: #fff;}
header ul li a:hover {background: #ddd;color:#222}
header ul li.register a {background-color: #e83a56;color: #fff;}
.timecounter {color: #fff;background-color: #e83a56;}
.btn-primary {color: #ffffff;background-color: #15548C;}
.btn-check.btn-primary {border-color: #15548C;color: #15548C;}
.btn-check.btn-primary.active, .btn-check.btn-primary:hover {color: #fff;background-color: #15548C;}
.btn-secondary {color: #fff;background-color: #e83a56;border-color: rgba(232,58,86,0.75);}
.landing .box {background:rgba(41, 104, 160, 0.75)}
.speakers .speaker .speaker-inner {background: #15548C;}
.speakers .speaker.featured .speaker-inner {background: #e83a56;}
.speakers .speaker .speaker-inner:hover {color: #15548C;}
.speakers .speaker.featured .speaker-inner:hover {color: #e83a56;}
.connect {color: #fff;background-color: #15548C}
.sessions .session .speaker.featured img {border-color: #e83a56;box-shadow: 0px 0px 0px 1px #e83a56;}
.sessions.list .day-floating > span {border-top: 4px solid #15548C;background: #fff;border-bottom: 2px solid #d2d2d2;}
.sessions.single .location strong {color: #15548C;}
.mediabox a.post .desc strong {color: #15548C;}
.articles article .image .date {color: #fff;background-color: #e83a56;}
.sidebar .tyler_comments_display h2 {color: #fff;background: #15548C;}
.sidebar .tyler_comments_display li a:hover {border-color: #15548C;}
.sidebar .tyler_comments_display li .time {color: #e83a56;}
.sidebar .widget_text h2 {color: #e83a56;border-bottom: 1px solid #e83a56;}
.comments-area h2 {color: #fff;background: #15548C;}
.comments-area form input[type=submit] {background: #e83a56;color: #fff;}
.commentlist .comment .comment-content {border: 1px solid #15548C;}
.commentlist .comment .comment-content:after {border: 1px solid #15548C;background: #fff;}
footer .credits {background: #313131;color: #15548C;}
#twitter_fullscreen li {border: 1px solid #15548C;}
.twitter .tweet {border:1px solid #e83a56;}
#tile_media .btn-check{background:#fff;color:#e83a56;border-color:#e83a56;}
#tile_media .btn-check.active{background:#15548C;color:#fff;border-color:#15548C;}
.jspDrag{background:#e83a56;}
.landing .btn-secondary {border-color:#e83a56;}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {color: #fff;background-color: #f19aa8;border-color: transparent;}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {color: #ffffff;background-color: #15548C;border-color: #15548C;}

#tile_media .btn-group-header{display:none}
#tile_media .carousel-indicators{display:none}
.credits{display:none}

.landing h1{text-shadow:1px 2px 4px #000;text-transform:none}
.landing p{text-shadow:1px 2px 4px #000}
#comments hr{display:none}